@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

textarea, input {
  font-family: 'Roboto', sans-serif !important;
}

.app {
  min-height: 100vh;
  transition: all .3s;
}

.app.dark {
  background-color: #1f1f37;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2196F3;
  min-height: 8vh;
  transition: all .3s;
}

.app.dark header {
  background-color: #0f1025;
}

h1 {
  color: #fff;
  margin: 0 0 0 24px;
  font-size: 24px;
  transition: all .3s;
}

.app.dark h1 {
  color: #c0c0c0;
}

header > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 12px 24px;
  width: 180px;
}

header > div > p {
  width: 100%;
  text-align: left;
  margin: 5px 0;
  font-weight: 700;
  color: #fff;
  transition: .4s;
}

.app.dark header > div > p {
  margin: 5px 0;
  font-weight: 700;
  color: #c0c0c0;
}

main {
  padding: 36px 0;
}

.step {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 48px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  min-height: 200px;
  transition: all .3s;
}

.app.dark .step {
  background-color: rgb(164, 164, 164);
}

.step-start {
  align-items: center;
}

.step-start .control {
  align-self: center;
}

.step h2 {
  margin: 0 0 12px 0;
}

.step h2 > span {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
}

.inputs {
  display: flex;
  flex-flow: row nowrap;
}

.inputs.cl-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.inputs.cl-1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.inputs label {
  margin: 12px 0;
  font-weight: 500;
  font-style: italic;
}

.inputs span {
  color: #ff0000;
}

.inputs input[type='text'],
.inputs input[type='email'],
.inputs input[type='tel'] {
  display: block;
  height: 32px;
  width: 280px;
  padding-left: 6px;
  border: 2px solid #d2d2d2;
  margin: 8px 12px 0 0;
  transition: all .4s;
}

.inputs input:focus,
.inputs textarea:focus {
 outline: 0;
 border: 2px solid #000;
}

.inputs textarea {
  width: 98%;
  height: 56px;
  padding-left: 6px;
  border: 2px solid #d2d2d2;
  margin: 8px 12px 0 0;
  resize: none;
}

.control {
  margin: 12px 0;
  align-self: flex-end;
}

button {
  padding: 12px 14px;
  border: 0;
  border-radius: 20px;
  margin: 0 4px;
  background-color: #2196F3;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all .4s;
}

.app.dark button {
  background-color: #313131;
}

button:disabled {
  opacity: 0.6;
}

.invalid {
  border: 2px solid #ff8585 !important;
}

.step-content {
  min-width: 1200px;
  width: 800px;
  align-items: center;
}

.content img {
  width: 800px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4e4e4e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4e4e4e;
}

input:checked + .slider:before {
  transform: translateX(17px);
  background-color: #8b8b8b;
}
